.title_stock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 4%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
  }
  
.title_stock h1 {
    font-size: 100%;
    color: #5ad15a;
}
  
.stock_value {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    border: 1px solid #5ad15a;
    border-radius: 10px;
}
  
  .stock_value {
    color: #5ad15a;
}
  