.adjust_level {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
}
  
.adjust_level button {
    width: 80%;
    height: 40%;
    color: white;
    background-color: #5ad15a;
    border: 1px solid #5ad15a;
    border-radius: 10px;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}
  
.adjust_level button:hover {
    color: #5ad15a;
    background-color: white;
   box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
   transform: translateY(-2px);
}

.adjust_level button:active {
    box-shadow: none;
    transform: translateY(0);
   }
  